/* 

FONT-SIZES: 
8.19px
10.24px	
12.80px	
16.00px	
20.00px	
25.00px	
31.25px	
39.06px	
48.83px	






*/

* {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

html {
  font-family: "Fira Sans", sans-serif;
  font-size: 62.5%;
  color: #444;
}

header {
  background-image: url(./imgs/keyboard3.jpg);
  background-size: cover;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
}
