/* 

FONT_WEIGTHS:
400
500
600
700


FONT-SIZES: 
8.19px
10.24px	
12.80px	
16.00px	
20.00px	
25.00px	
31.25px	
39.06px	
48.83px	


SPACING:
2px 
4px
8px
12px
16px
24px
32px
48px
64px
80px
96px
128px



*/

header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.225),
      rgba(0, 0, 0, 0.525)
    ),
    url(./imgs/kili.jpg);
  background-size: cover;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.nav-links {
  display: flex;
  gap: 2.8rem;
  /* align-items: center; */
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 2.8rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:active {
}

.section-hero {
  padding: 18.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  text-align: center;
}

.hero-header {
  font-size: 6.4rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  margin-bottom: 1.6rem;
}

.hero-subheader {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 2.4rem;
}

.hero-text {
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 9.6rem;
}

.btn-hero {
  color: #fff;
  background-color: #065940;
  border: 1px solid #b5d9ce;
}
